<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright WeiLianYang
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="${applicationId}"
        android:targetProcesses="*"
        tools:targetApi="o">
        <meta-data
            android:name="remoteMethod"
            android:value="androidx.test.espresso.remote.EspressoRemote#remoteInit" />
    </instrumentation>
    <!--
         Android 11
         管理软件包可见性：https://developer.android.com/training/basics/intents/package-visibility
         根据用例配置软件包可见性：https://developer.android.com/training/basics/intents/package-visibility-use-cases
    -->
    <queries>

        <!-- 检查是否有可用浏览器，例如需要打开外部浏览器 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>

        <!-- 检查设备能否打开给定文件，如需要打开pdf，zip -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:mimeType="*/*" />
        </intent>

        <!-- 创建自定义共享表单，如分享图片，文件 -->
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="*/*" />
        </intent>

        <!-- 显示自定义文字选择操作，如选中一段文字，进行复制，粘贴操作 -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />

            <data android:mimeType="text/plain" />
        </intent>

        <!-- 连接到文字转语音引擎 -->
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>

        <!-- 连接到语音识别服务 -->
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>

        <!-- 显示联系人的自定义数据行 -->
        <!-- Allows the app to read the "contacts.xml" file from the other apps. -->
        <intent>
            <action android:name="android.accounts.AccountAuthenticator" />
        </intent>
        <!-- Allows the app to load an icon corresponding to the custom MIME type. -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data
                android:host="com.android.contacts"
                android:mimeType="vnd.android.cursor.item/*"
                android:scheme="content" />
        </intent>

        <!-- 连接到媒体浏览器服务 -->
        <intent>
            <action android:name="android.media.browse.MediaBrowserService" />
        </intent>

        <!-- 微信包名 -->
        <package android:name="com.tencent.mm" />

        <!-- 支付宝包名 -->
        <package android:name="com.eg.android.AlipayGphone" />
        <package android:name="hk.alipay.wallet" />

        <!-- QQ -->
        <package android:name="com.tencent.qqlite" />
        <package android:name="com.tencent.mobileqq" />

        <!-- 新浪微博 -->
        <package android:name="com.sina.weibo" />
        <package android:name="com.tencent.mtt" />
        <package android:name="com.UCMobile" />
        <package android:name="sogou.mobile.explorer" />
        <package android:name="com.baidu.browser.apps" />
        <package android:name="com.qihoo.browser" />
        <package android:name="com.ijinshan.browser_fast" />
        <package android:name="com.android.chrome" />
        <package android:name="org.mozilla.firefox" />
    </queries>
    <!--
 不需要强制依赖相机
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    -->
    <!-- 添加android.hardware.camera.any确保设备有摄像头。指定.any意味着它可以是前置摄像头或后置摄像头。 -->
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.ADD_VOICEMAIL" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:backupAgent=".data.backup.CustomBackupAgent"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:fullBackupOnly="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:targetApi="s">
        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="unused" />

        <activity
            android:name=".ui.DrawerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ComposeLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ComposeDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_compose_demo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_compose"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.Starting"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test.TestActivity" />
        <activity android:name=".test.TestVmActivity" />
        <activity android:name=".ui.SwipeCardActivity" />
        <activity android:name=".ui.WaveAnimationActivity" />
        <activity android:name=".ui.PagerCardActivity" />
        <activity android:name=".ui.AutoScrollActivity" />
        <activity android:name=".ui.PermissionActivity" />
        <activity android:name=".ui.NestedScrollingActivity" />
        <activity android:name=".ui.FlowSampleActivity" />
        <activity android:name=".ui.ChannelSampleActivity" />
        <activity android:name=".ui.DiffUtilActivity" />
        <activity android:name=".ui.CoroutineSampleActivity" />
        <activity android:name=".ui.RegisterForResultActivity" />
        <activity android:name=".ui.FileActivity" />
        <activity android:name=".ui.WindowInsetsActivity" />
        <activity android:name=".ui.AesEncryptActivity" />
        <activity android:name=".ui.TouchImageActivity" />
        <activity android:name=".ui.RoundCornerLayoutActivity" />
        <activity android:name=".ui.MotionLayoutActivity" />
        <activity android:name=".ui.SideSlipActivity" />
        <activity android:name=".ui.WebActivity" />
        <activity android:name=".ui.ClockViewActivity" />
        <activity android:name=".ui.SectorViewActivity" />
        <activity android:name=".ui.AlarmManagerActivity" />
        <activity android:name=".ui.AlarmNoticeActivity" />
        <activity
            android:name=".ui.CameraxActivity"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize"
            android:resizeableActivity="true"
            android:rotationAnimation="seamless"
            android:screenOrientation="fullUser"
            tools:targetApi="O" />
        <activity
            android:name=".ui.BubbleActivity"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:exported="false"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            tools:ignore="AppLinkUrlError"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ek.example.com"
                    android:pathPattern="/bubble/*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.william.base_component.startup.LiveEventInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.william.base_component.startup.LoggerInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.william.base_component.startup.MMKVInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.william.base_component.startup.TimberInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.william.easykt.startup.CrashHandlerInitializer"
                android:value="androidx.startup" />
        </provider>

        <receiver android:name=".receiver.AlarmReceiver" />
    </application>

</manifest>